@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./fonts/Museosans.woff2') format('woff2'),
  url('./fonts/Museosans.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('./fonts/PTSerif.woff2') format('woff2'),
  url('./fonts/PTSerif.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
