body {
	margin: 0;
}

.background-image {
	background: url(images/images-bg.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	display: flex;
	display: inline-block;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 98px auto 0 0;
  width: 88%;
}

.header__logo-main {
	margin-top: -16px;
	padding-left: 85px;
}

a {
	text-decoration: none;
	color: #f8eee4;
}

.header__menu {
	font-family: Museo Sans Cyrl;
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
	margin-right: 0;
	margin-top: -3px;
}

.burger__menu {
	display: none;
}

.header__menu-link {
	margin-right: 29px;
}

.header__menu-link:last-child {
	margin-right: 0;
}

.main {
	display: flex;
	justify-content: space-between;
}

.main__section-title {
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 280px;
	line-height: 9px;
	padding-left: 200px;
  margin-top: 207px;
  color: #f8eee4;
  opacity: 0.4;
}

.main__section-title_second {
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 98px;
	line-height: 10px;
	padding-left: 283px;
	margin-top: -134px;
	color: #f8eee4;
}

.main__section-text {
	font-family: Museo Sans Cyrl;
	font-size: 22px;
	line-height: 26px;
	color: #f8eee4;
	padding-left: 221px;
	margin-top: -3px;

}

.main__section-btn {
	font-family: Museo Sans Cyrl;
	font-size: 22px;
	line-height: 19px;
	color: #fff;
	background: #d4bea3;
	border-radius: 48px;
	padding: 12px 62px;
	margin-top: 22px;
	margin-left: 247px;
	cursor: pointer;
}

.main__images {
	padding-right: 0;
	padding-top: 116px;
}

.main__images-img {
	margin-right: 30px;
}

.main__images-img:last-child {
	margin-right: 0;
}

/*..............
MEDIA
...............*/

@media (max-width: 1930px) {
	.header__logo {
		margin-left: 114px;
		margin-top: 7px;
	}

	.header__menu {
		margin-right: -112px;
		padding-top: 7px;
	}

	.header__menu-link {
    margin-right: 32px;
}

@media (max-width: 1025px) {
	.header__logo {
		margin-left: -48px;
    margin-top: -26px;
	}

	.main__section-title {
		padding-left: 200px;
    margin-top: 207px;
	}
}

	.header__menu {
		font-size: 16px;
		line-height: 19px;
		margin-right: -93px;
    margin-top: -24px;
	}

	.header__menu-link {
	margin-right: 24px;
}

.header__menu-link:last-child {
	margin-right: 0;
}

	.main__section-title {
		font-weight: bold;
		font-size: 200px;
		line-height: 265px;
		margin-top: 82px;
		margin-left: -159px;
	}

	.main__section-title_second {
		font-weight: bold;
		font-size: 70px;
		line-height: 93px;
		margin-top: -268px;
    margin-left: -184px; 
	}

	.main__section-text {
		font-size: 16px;
		line-height: 19px;
		padding-left: 58px;
    margin-top: -44px;
	}

	.main__section-btn {
		margin-left: 57px;
		margin-top: 24px;
		font-size: 16px;
		line-height: 19px;
	}

	.main__images {
		display: flex;
		padding-top: 176px;
		padding-left: 88px;
}

.main__images-img {
		width: 210px;
		height: 270px;
		margin-right: 24px;
}

.main__images-img:last-child {
	margin-right: 0;
}



@media (max-width: 600px) {
	.header__logo {
		margin-top: -46px;
	}

	.header__menu {
		display: none;
	}
	
	.burger__menu {
		display: block;
    width: 25px;
    height: 17px;
    margin-top: -41px;
    margin-right: -12px;
    color: #fff;
	}

	.main__section-title {
		font-weight: bold;
		font-size: 170px;
		line-height: 225px;
		margin-top: 38px;
		margin-left: -184px;
	}

	.main__section-title_second {
		font-weight: bold;
		font-size: 60px;
		line-height: 79px;
		align-items: center;
		margin-top: -215px;
		margin-left: -208px; 
	}

	.main__section-text {
		font-size: 18px;
		line-height: 22px;
		padding-left: 48px;
		margin-top: -31px;
	}

	.main__section-btn {
		margin-left: 76px;
		margin-top: 12px;
	}

	.main__images {
		display: none;
	}
}