.background-image {
	background: url(images/images-bg.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	display: flex;
	display: inline-block;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 103px auto;
  width: 88%; 
}

.header__logo-main {
	padding-left: 84px;
}

a {
	text-decoration: none;
	color: #f8eee4;
}

.header__menu {
	font-family: Museo Sans Cyrl;
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
}

.header__menu-link {
	margin-right: 24px;
}

.header__menu-link:last-child {
	margin-right: 0;
}

.header__menu-burgeritem {
	display: none;
}

.main {
	display: flex;
	justify-content: space-between;
}

.main__section-title {
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 280px;
	line-height: 9px;
	padding-left: 164px;
  padding-top: -150px;
  color: #f8eee4;
  opacity: 0.4;
}

.main__section-title_second {
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 98px;
	line-height: 10px;
	padding-left: 239px;
	margin-top: -159px;
	color: #f8eee4;
}

.main__section-text {
	font-family: Museo Sans Cyrl;
	font-size: 22px;
	line-height: 26px;
	color: #f8eee4;
	padding-left: 164px;

}

.main__section-btn {
	margin-left: 164px;
	font-family: Museo Sans Cyrl;
	font-size: 22px;
	line-height: 19px;
	color: #fff;
	background: #d4bea3;
	border-radius: 48px;
	padding: 12px 62px;
	margin-top: 24px;
	cursor: pointer;
}

.main__images-img {
	margin-right: 33px;
}

.main__images-img:last-child {
	margin-right: 0;
}

@media (max-width: 1024px) {

.background-image {
	width: 127%;
	height: 127vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	display: flex;
	display: inline-block;
}

	.header__logo-main {
    padding-left: 0;
  }

	.header__menu {
		font-size: 16px;
		line-height: 19px;
	}

	.main__section-title {
		font-size: 178px;
		line-height: 265px;
		margin-top: -40px;
		padding-left: 43px;
	}

	.main__section-title_second {
		font-size: 54px;
		line-height: 80px;
		margin-top: -254px;
		padding-left: 94px;
	}

	.main__section-text {
		font-size: 13px;
		line-height: 19px;
		margin-top: -40px;
    padding-left: 51px;
	}

	.main__section-btn {
		font-size: 16px;
		line-height: 19px;
		border-radius: 48px;
		margin-left: 50px;
	}

	.main__images {
		display: flex;
	}

	.main__images-img {
		margin-top: 61px;
		margin-right: 24px;
		width: 208px;
  	height: 327px;
  	border-radius: 5px;
  	padding-right: 30px;
  	transform: matrix(-1, 0, 0, 1, 0, 0); 	
	}

	.main__images-img:last-child {
    margin-right: 0;
  }
}

@media (max-width: 600px) {

	.header__menu {
		display: none;
	}

	.header__menu-burgeritem {
		display: block;
    width: 25px;
    height: 17px;
    padding-top: 22px;
    padding-right: 33px;
    margin: auto;
	}

	.main__section-title {
		font-size: 242px;
		line-height: 225px;
		align-items: center;
		margin-top: 0;
	}

	.main__section-title_second {
		font-size: 84px;
		line-height: 95px;
		align-items: center;
		padding-left: 138px;
	}

	.main__section-text {
		font-size: 18px;
		line-height: 22px;
		text-align: center;
		align-items: center;
		padding: 36px 41px 0 107px;
		width: 292px;
		height: 87px;
	}

	.main__section-btn {
		margin: 48px 80px 97px 146px;
		width: 213px;
		height: 53px;
	}

	.main__images {
		display: none;
	}
}


