.background-image {
	background: url(images/images-bg.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	display: flex;
	display: inline-block;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 103px auto;
  width: 88%; 
}

.header__logo-main {
	padding-left: 84px;
}

a {
	text-decoration: none;
	color: #f8eee4;
}

.header__menu {
	font-family: Museo Sans Cyrl;
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
}

.header__menu-link {
	margin-right: 24px;
}

.header__menu-link:last-child {
	margin-right: 0;
}

.main {
	display: flex;
	justify-content: space-between;
}

.main__section-title {
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 280px;
	line-height: 9px;
	padding-left: 164px;
  padding-top: -150px;
  color: #f8eee4;
  opacity: 0.4;
}

.main__section-title_second {
	font-family: PT Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 98px;
	line-height: 10px;
	padding-left: 239px;
	margin-top: -159px;
	color: #f8eee4;
}

.main__section-text {
	font-family: Museo Sans Cyrl;
	font-size: 22px;
	line-height: 26px;
	color: #f8eee4;
	padding-left: 164px;

}

.main__section-btn {
	margin-left: 164px;
	font-family: Museo Sans Cyrl;
	font-size: 22px;
	line-height: 19px;
	color: #fff;
	background: #d4bea3;
	border-radius: 48px;
	padding: 12px 62px;
	margin-top: 24px;
}

.main__images-img {
	margin-right: 33px;
}

.main__images-img:last-child {
	margin-right: 0;
}

@media (max-width: 1024px) {
	.header__menu {
		font-size: 16px;
		line-height: 19px;
	}

	.main__section-title {
		font-size: 200px;
		line-height: 265px;
		margin-top: 28px;
		margin-left: -39px;
	}

	.main__section-title_second {
		font-size: 70px;
		line-height: 93px;
	}

	.main__section-text {
		font-size: 16px;
		line-height: 19px;
	}

	.main__section-btn {
		font-size: 16px;
		line-height: 19px;
		border-radius: 48px;
	}

	.main__images-img {
		margin-right: 24px;
		width: 225px;
  	height: 300px;
  	border-radius: 5px;
  	transform: matrix(-1, 0, 0, 1, 0, 0);
	}

	.main__images-img:last-child {
    margin-right: 0;
  }
}